@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,400,700');

* {
  box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

/* Loading bar */ 

    .pace {
        -webkit-pointer-events: none;
        pointer-events: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        z-index: 2000;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10px;
        width: 200px;

        background: #111;
        border: 1px solid #f50057;
        overflow: hidden;
    }

    .pace .pace-progress {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        max-width: 200px;
        position: fixed;
        z-index: 2000;
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        height: 100%;
        width: 100%;
        background:#f50057;
    }

    .pace.pace-inactive {
        display: none;
    }

/* end Loading bar */

/* Loading BG */

    /*loading*/

    .stop-scrolling {
    height: 100%;
    overflow: hidden;
    }

    #loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }

    #loader::before, #loader::after{
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: 1000;
        content: "";
    }

    #loader::before{
        left: 0;
        background: #111;
    }

    #loader::after{
        left: 50%;
        background: #111;
    }

    /*loaded*/

    @keyframes LatefadeOut {
    0%   {opacity: 1}
    50%  {opacity: .7}
    100% {opacity: 0}
    }

    @-webkit-keyframes LatefadeOut {
    0%   {opacity: 1}
    50%  {opacity: .7}
    100% {opacity: 0}
    }

    body.pace-done #loader::before{
        left: -50%;
        background: #111;
        -webkit-transition: all 0.5s ease-out;  
                transition: all 0.5s ease-out;  
        animation-name: LatefadeOut;
        animation-duration: .5s;
    }

    body.pace-done #loader::after{
        left: 100%;
        background: #222;
        -webkit-transition: all 0.5s ease-out;  
                transition: all 0.5s ease-out;  
        animation-name: LatefadeOut;
        animation-duration: .5s;
    }

/* end Loading BG */

/* Container */

    /* All media */
        body.pace-running{
            overflow : hidden;
        }

        body.pace-done{
            overflow-x: hidden;
            overflow-y: auto;
            background: #222;
        }
        body #container{
            width: 100vw;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        div.headline{
            position: relative;
            width: 100vw;
            height: 100vh;
            margin-left: auto;
            margin-right: auto;
        }

        div.headline .coolIntro
        {
            z-index: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 4vw;
            text-shadow: 0px 0px 1px #f50057;
        }

        .hotpink{
            color: #f50057 !important;
            z-index: 5;
            display: table;
            font-family: 'Open Sans', sans-serif;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .darkside{
            text-shadow: 0px 0px 10px #555
        }

        span.state{
            z-index: 5;
            color: #FFF !important;
            font-size: 80%;
            font-family: 'roboto', sans-serif;
            font-weight: 100;
            text-shadow: 0px 1px 0px rgba(200,200,200,.8), 0px 2px 0px rgba(150,150,150,.5), 0px 3px 0px rgba(100,100,100,.2);
        }

        .parallax-window {
            height: 100%;
            background: transparent;
        }

        .parallax-window-header {
            position: absolute;
            top : 15vh;
            z-index: 0;
            min-height: 70vh;
            width: 100%;
            background: transparent;
        }

        .parallax-window-header::after {
            z-index: 0;
            content: "";
            position: absolute;
            top : -15vh;
            min-height: 100vh;
            width: 100%;
            background: #222;
            opacity: .5
         }

         .section{
             position: relative;
             width: 100%;
             height: 100vh;
             max-height: 100vh;
         }

         .node{
             background: #FFF;
             width: 3vw;
             height: .5vw;
             margin: .5vw;
             -webkit-transition: width .1s ease-in;
             transition: width .1s ease-in;
         }

         .node:hover{
             cursor : pointer;
             width: 4vw;
             -webkit-transition: width .2s ease-out;
             transition: width .2s ease-out;
         }

         .node.active{
             background: #f50057;
             width: 5vw;
         }

         #navigator-headline{
            display: block;
            position: fixed;
            z-index: 10;
            top: -20vh;
            left: 10vw;
            transform: translateY(-20vh);
            font-family: 'roboto', sans-serif;
            font-weight: 100;
            text-shadow: 0px 1px 0px rgba(200,200,200,.8), 0px 2px 0px rgba(150,150,150,.5), 0px 3px 0px rgba(100,100,100,.2);
         }

         #navigator-headline.active{
            font-size: 2vw;
            display: block;
            position: fixed;
            top: 0;
            left: 10vw;
            min-width: 20vw;
            color: #FFF;
            padding: 10px;
            background-color: rgba(0,0,0,.5);
            transform: translateY(0vh);
            border-bottom: 2px solid;
            
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
         }

         .arrow{
             position: absolute;
             bottom: 6vh;
             width: 5vh;
             height: 5vh;
             border-radius: 50%;
             background: transparent;
             border: .3vh solid #FFF;
             right: 47.5vw;
             left: 47.5vw;
             margin-left: 0;
             margin-right: 0;
         }

         .arrow::before{
             position: absolute;
             content: "";
             -webkit-transform-origin: 0% 0%;
             -moz-transform-origin: 0% 0%;
             -o-transform-origin: 0% 0%;
             transform-origin: 0% 0%;
             left: 50%;
             width: 50%;
             height: 50%;
             transform: rotate(45deg);
             border: .3vh solid #FFF;
             border-top: none;
             border-left: none;
             border-radius: 20%;
         }

         .arrow.top::before{
             border: .3vh solid #FFF;
             top : .5vh;
             border-bottom: none;
             border-right: none;
         }

         /* sub : projects */

         #projects .owl-carousel{
             padding-top: 25vh;
         }

         #projects .project{
            height : 50vh;
         }

         #projects .project-BG{
             height: 100%;
             background-size: cover;
             background-position: center;
             overflow: hidden;
         }

         #projects .project:hover .project-BG{
             content : attr(data-name);
             cursor: zoom-in;
             filter: brightness(.25);

             -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
         }

         #projects .project span{
             z-index: 1;
             text-align: center;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            COLOR: #fff;
            font-size: 2vw;
            text-shadow: 0px 0px 10px #333;
            font-family: 'Open Sans', sans-serif;
         }

         #projects .project:hover span{
             cursor : zoom-in;
             opacity: 1;
             -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
         }

         /* end sub : projects */

        #projects .centered{
            margin: 0 auto;
            display: block;
        }

         /* sub : contact */

        #contact .picto
        {
            width: 3.5vw;
            background-size: contain;
            padding: .5vw;
            background: #FFF;
            border-radius: 20%;
        }

        #contact .social-links
        {
            margin-left: 20vw;
            vertical-align: middle;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        #contact span.link{
            position: relative;
            color: #FFF;
            margin: 5vh;
            display: block;
            flex-direction: column;
            height: 5vh;
            text-decoration: none;
        }

        #contact span.link a{
            color : #FFF;
            text-decoration: none;
            margin-left: 1vw;
            font-size: 1.5vw;
            font-family: 'roboto', sans-serif;
            font-weight: 100;
            text-shadow: 0px 1px 0px rgba(200,200,200,.8), 0px 2px 0px rgba(150,150,150,.5), 0px 3px 0px rgba(100,100,100,.2);
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        #contact span.link a:hover{
            color : #f50057;
            text-shadow: 0px 0px 2px #f50057;
        }

        #contact span.link img{
            vertical-align: middle;
        }

         /* end sub : contact */

    /* end All media */

    /* specific media fixes */

        /* Smartphones (portrait) ----------- */
        @media only screen and (max-width : 480px) {
            div.headline .coolIntro
            {
                font-size : 8vw;
            }
            #navigator-headline.active
            {
                font-size: 5vw;
            }
            #contact .social-links
            {
                margin-left: 5vw;
            }
            #contact .picto
            {
                width: 10vw;
                padding: 1vw;
            }
            #contact span.link a
            {
                font-size: 5vw;
            }
        }
        /* Tablet ----------- */
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            div.headline .coolIntro
            {
                font-size : 4vw;
            }
            #navigator-headline.active
            {
                font-size: 2.5vw;
            }
            #contact .social-links
            {
                margin-left: 10vw;
            }
            #contact .picto
            {
                width: 5vw;
                padding: .75vw;
            }
            #contact span.link a
            {
                font-size: 2.5vw;
            }
        }
        /* Desktops and laptops ----------- */
        @media only screen  and (min-width : 1024px) {
            .navigator{
                min-width: 5vw;
                z-index: 10;
                height: 100vh;
                position: fixed;
                display: flex;
                align-content: center;
                right: 5vw;
                justify-content: center;
                flex-direction: column;
            }
        }
        /* Large screens ----------- */
        @media only screen  and (min-width : 1824px) {
            #navigator-headline.active
            {
                font-size: 1.5vw;
            }
        }

    /* end specific media fixes */

/* end Container */